<div class="container">
  <h3 style="text-align:center">Edit a Restaurant</h3>

  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
